<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatics.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.FormulaMapper">

	<!-- マッピング定義 -->
	<resultMap type="com.example.domain.formula.model.MFormula" id="formula">
		<id column="formula_id" property="formulaId"/>
		<result column="formula_name" property="formulaName"/>
		<result column="formula_year" property="formulaYear"/>
		<result column="formula_month" property="formulaMonth"/>
		<result column="formula_day" property="formulaDay"/>
	</resultMap>

	<!-- 計算式1件登録 -->
	<insert id="insertOne">
		insert into formula_mst(
			formula_name,
			formula_year,
			formula_month,
			formula_day
		)
		values(
			#{newFormulaName},
			#{newFormulaYear},
			#{newFormulaMonth},
			#{newFormulaDay}
		)
	</insert>
	
	<!-- 計算式複数件取得 -->
	<select id="findMany" resultType="MFormula">
		select *
		from formula_mst
	</select>
	
	<!-- 計算式1件検索 -->
	<select id="findOneFormula" resultMap="formula">
		select *
		from formula_mst
		where formula_id=#{formulaId}
	</select>
	
	<!-- 計算式削除 -->
	<delete id="deleteOne">
		delete from formula_mst
		where formula_id=#{formulaId}
	</delete>

</mapper>